* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#contenedor{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 30px
    ;
}

.producto {
    width: 30%;
    height: 450px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.producto p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 15px;
}

.producto button {
    width: 50%;
    background: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background: #ffffff;
    color: black;
    border: 2px solid black;
}

#carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 100%;
    border: 2px solid black;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.tarjetaCarrito {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.oculta {
    display: none !important;
}

/*Header*/

.header {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.header input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.header input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.header button {
    width: 100%;
    margin: 10px;
    padding: 12px;
    background-color: #323436;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
}

.header button:hover {
    transition: 0.3s;
    background-color: hsl(0, 0%, 100%);
    color: black;
    border: 2px solid black;
}

.header_contenedor {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.tarjeta_bienvenida {
    margin: auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 25px;
}

/*Franja*/

.top-bar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.top-bar .logo {
    display: flex;
    align-items: center;
}
.top-bar img {
    height: 40px;
    margin-right: 10px;
}

.top-bar span {
    font-size: 20px;
    font-weight: bold;
}

/*Carrito*/

#productosCarrito {
    background-color: #fcfcfc; 
    color: #000000; 
    border: none;
    border-radius: 25px; 
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: inline-block;
    
}

#productosCarrito:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

